@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&display=swap');

.App {
  font-family: 'source-serif-pro';
}

.test {
  border: 3px solid red;
}

.name-text {
  font-size: 100px;
  font-weight: bolder;
}

.job-text {
  font-size: 65px;
  font-weight: bold;
}

.color-1 {
  background-color: #006a9f;
}

.color-2 {
  background-color: rgba(245, 245, 245, 0.67);
}

.color-3 {
  background-color: #343434;
}

.white {
  color: white;
}

.header-home-picture {
  height: 415px;
  width: auto;
  position: relative; /* Position image relatively to its container */
  z-index: 1;
  border-radius: 50%;    /* Makes the image circular */
  object-fit: cover; 
  box-shadow: 0 0 15px #9FCFFC, 0 0 0px #9FCFFC, 0 0 0px #9FCFFC; /* Glow effect */

}

.about-me-pic {
  height: 415px;
  width: auto;
  position: relative; /* Position image relatively to its container */
  z-index: 1;
  border-radius: 50%;    /* Makes the image circular */
  object-fit: cover; 
}

.about-icon {
  height: 200px;
  width: auto;
}

.text-logo {
  height: 30px;
  width: auto;
}

.logo-text-span {
  display: flex;
  align-items: center;
}

.circle {
  position: absolute; /* Position the circle absolutely */
  background-color: #b6ddf0; /* Adjust circle background color */
  border-radius: 50%; /* Create a circle shape */
  width: 420px; /* Adjust circle width */
  height: 420px; /* Adjust circle height */
  top: 50%; /* Position circle vertically */
  left: 50%; /* Position circle horizontally */
  transform: translate(-45%, -50%); /* Center the circle */
  z-index: 0; /* Move the circle behind the image */
}

.social-btn {
  font-size: 32px;
  letter-spacing: 3px;
  border-radius: 20px;
  width: 350px;
  height: 70px;
}

.social-img {
  height: 50px;
  width: auto;
}

.linkedin {
  height: 75px;
  width: auto;
}

.btn-border {
  border: 2px solid black;
}

.social-container {
  max-width: 800px;
}

.project-title {
  font-size: 48px;
}

.project-desc {
  line-height: 2;
}

.project-border {
  border-radius: 20px;
}

.inline-div {
  display: inline;
}

.text-underline {
  text-decoration: underline;
}

.bolder {
  font-weight: bolder;
}

.navbar {
    height: 70px;
    font-size: 30px;
}

.nav-title {
    font-size: 40px;
}

.font-25 {
  font-size: 25px;
}

.font-20 {
  font-size: 20px;
}

.rounded-img {
  border: solid 1px #000000;
  border-radius: 20px;
}

.project-picture {
  height: 425px;
  width: 600px;
  border-radius: 20px;
}

.base {
  background-color: #002547;
}

.primary {
  background-color: #9FCFFC;
}

.primary-text {
  color: #9FCFFC;
}

.neutral {
  background-color: #E7E7E7;
}

.proj-card {
  background-color: rgba(159, 207, 252, .20);
}

.seemore-btn {
  width: 140px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
}

.keepreading-btn {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
}

.project-page-thumbnails {
  width: 400px;
  height: auto;
}

/* Glow Styling */

.glow-home-header {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: -490px -310px 100px 225px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-home-header2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: -570px 1310px 100px 225px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-home-header3 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: 1270px 510px 100px 225px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-home-header4 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: 1270px 1810px 100px 225px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-home-header5 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: -425px 2520px 100px 175px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-about-page {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: -570px -510px 100px 225px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-about-page2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: 1100px 240px 100px 175px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-about-page3 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: -570px 840px 100px 175px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-proj-page {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: -400px -300px 100px 175px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.glow-proj-page2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 75%;
  margin-left: 180px;
  box-shadow: 1270px 440px 100px 175px #9FCFFC;
  opacity: 10%;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.text-op {
  opacity: .7;
}

/* Navbar Styling */
nav {
  position: sticky;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}

.logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 46px;
  font-weight: bold;
  font-family: "Hurricane";
}

.project-rounded {
  border-radius: 20px;
}

.cheat {
  border: solid 1px #002547;
}